<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<h1>Cars list</h1>
<p>Quantity car to list:</p><br>
<a href="/spring_mvc_war/cars?count=1">1</a> or
<a href="/spring_mvc_war/cars?count=2">2</a> or
<a href="/spring_mvc_war/cars?count=3">3</a> or
<a href="/spring_mvc_war/cars?count=4">4</a> or
<a href="/spring_mvc_war/cars?count=5">5</a><br>

<table border="1">
    <tr>
        <th>MODEL</th>
        <th>MAXSPEED</th>
        <th>TYPE</th>
    </tr>
    <tr th:each="car : ${carServ}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.maxSpeed}"></td>
        <td th:text="${car.type}"></td>
    </tr>
</table>

</body>
</html>